Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@sreejith994 
DudeAlex
/
demo.amigoscode.youtube
1
20
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
demo.amigoscode.youtube/.gitignore
@bilimus
bilimus Initial commit
Latest commit f7ab26f on 3 Apr
 History
 1 contributor
33 lines (29 sloc)  395 Bytes
  
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete